body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    text-align: center;
}
.center-title {
    text-align: center;
}

.left-align {
    text-align: left;
    margin-left: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p, ol {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

 .contact-list {
            list-style: none;
            padding: 0;
        }
.contact-list li {
            margin: 10px 0;
        }
.contact-list a {
            text-decoration: none;
            color: #000;
            font-size: 18px;
        }
.contact-list a:hover {
            color: #007bff;
        }
.icon {
            margin-right: 10px;
        }
